In [1]:
type ("kjhckh")

str

In [1]:
print ("owais ahmed")

owais ahmed

In [5]:
print ("Owais's")

# double qoute in single line

Owais's

In [7]:
print ("Hi",233, 45.66, sep="===")

# seprater / gapping

Hi===233===45.66

In [10]:
print (2+int("100")) 

#type casting

102

In [17]:
name= "Qureshi"
age= 18
print ("my name is " +name+ " and my age is " + str(age))

my name is Qureshi and my age is 18

In [19]:
print ("my name is {} and my age is {}" .format(name , age))
print ("my name is {1} and my age is {0}" .format(name , age))
print (f"my name is {name} and my age is {age}")
   
# here is we dont use type casting

my name is Qureshi and my age is 18
my name is 18 and my age is Qureshi
my name is Qureshi and my age is 18

In [20]:
name

'Qureshi'

In [13]:
print ("hello",223, sep="===")
# multipling

hello===223

In [7]:
a =10
b =3
c =a/b*b+a
print (c)

20.0

In [16]:
print("\\") 

# for print backslash

\

In [17]:
print ('\'')

# for print single-qoute

'

In [18]:
print ("\"")

# for print doube-qoute

"

In [2]:
print ("hello \a world")

# for print dot

hello  world

In [24]:
print("Hello \n World!")

# for next line

Hello
 World!

In [25]:
print("Hello \t World!")

Hello 	 World!

In [27]:
print("Hello \v World!")

Hello  World!

In [10]:
name= "owais"
age= 18

print ("my name is "  +name+  " my age is"+str(age))

my name is owais my age is18

In [12]:
print ("my name is {0} and my age is {1}" .format(name , age))

my name is owais and my age is 18

In [3]:
print (1 + 3) * (4)

4

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'